<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BridgeSense Form</title>
    <link rel="stylesheet" href="/static/CSS/autho.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="left">
                <div id="image"><img src="/static/images/letter-b.png" alt=""></div>
                <h1>BridgeSense</h1>
            </div>
        </div>

        <div id="heading">
            <h3>Project Details</h3>
        </div>

        <div id="container">
            <form id="project-form">
                <label>Authorized Username:</label>
                <input type="text" required>

                <label>Email:</label>
                <input type="email" required>

                <label>Contractor Email:</label>
                <input type="email" required>

                <label>Bridge Name:</label>
                <input type="text" required>

                <label>Bridge Location:</label>
                <input type="text" required>

                <label>Year of Construction:</label>
                <input type="number" required>

                <label>Steel (%):</label>
                <input type="number" required>

                <label>Concrete (%):</label>
                <input type="number" required>

                <label>Wood (%):</label>
                <input type="number" required>

                <label>Year of Maintenance:</label>
                <input type="number" required>

                <div id="submit">
                    <button type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
