<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridge Sense</title>
    <link rel="stylesheet" href="/static/CSS/Landing_page.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Caprasimo&family=Crimson+Text:wght@600&family=Exo+2:wght@200&family=Gruppo&family=Macondo&family=Montserrat:wght@100&family=Pacifico&family=Play&family=Roboto+Slab:wght@500;600&family=Russo+One&family=Titillium+Web:wght@200&family=Ubuntu:wght@300&family=Vina+Sans&display=swap" rel="stylesheet">

    <!-- font2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Caprasimo&family=Crimson+Text:wght@600&family=Exo+2:wght@200&family=Gruppo&family=M+PLUS+Rounded+1c&family=Macondo&family=Montserrat:wght@100&family=Pacifico&family=Play&family=Roboto+Slab:wght@500;600&family=Russo+One&family=Titillium+Web:wght@200&family=Ubuntu:wght@300&family=Vina+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap">
</head>
<body>
    <span class="loader"></span>
    <div id="main"> 
        <div id="top">
            <div id="overlay">
                <div id="nav"> 
                    <div id="left">
                        <div id="image"><img src="/static/images/letter-b.png" alt=""></div>
                        <h1>BridgeSense</h1>

                    </div>
                    
                    <div id="button_div">
                        <button onclick="gotopage('Login_form.html')">LOGIN</button>
                        <!-- <button><a href="signup_form.html">SIGN IN</a> </button> -->
                    </div>
                </div>
                
                <div id="bridge">
                    <img src="/static/images/pngimg.com - bridge_PNG48.png" alt="">
                </div>
                <div id="center">
                    <div id="text"><h3>AI-POWERED INSIGHTS FOR SAFER , STRONG BRIDGES </h3></div>
                    <p>Bridges are part of our daily lives, quietly carrying us to where we need to go. Over time, they need care to stay safe and strong. That’s where BridgeSense helps. Using AI, it predicts maintenance needs and checks bridge conditions, ensuring they stay reliable for everyone who depends on them.</p>

                    <div id="button_center">
                        <button onclick="gotopage('/login')">LET'S GET START</button>

                    </div>
                </div>
 
                
                
            </div>
            
        </div>
        <div id="footer">
            <!-- <div id="container-2">
                <h3>Pricing</h3>
                <h3>Blog</h3>
            </div> -->

            <div id="icons">
                <img src="/static/images/facebook.png" alt=""></img>
                <img src="/static/images/instagram.png" alt=""></img>
                <img src="/static/images/twitter.png" alt=""></img>
            </div>

            <div id="right">
                <p>2025 BridgeSense.All Rights Reserved</p>
            </div>
        </div>
    </div>
    <script>
        function gotopage(page) {
            window.location.href = page; // This will redirect to the specified page
        }
    </script>
    
</body>
</html>